<div *ngIf="productSignal as product">
  <div class="product-detail-wrapper">
    <div class="product-detail-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="24px"
      fxLayoutAlign="start start">
      <img [src]="product()?.thumbnail" [alt]="product()?.title" fxFlex="300px" fxFlex.lt-md="100%" fxFlexOrder="0"
        class="product-image" />

      <div fxFlex fxFlexOrder="1" class="product-info">
        <h2>{{ product()?.title | uppercase }}</h2>
        <h3>{{ product()?.price | currency:'BRL':'symbol':'1.2-2' }}</h3>
        <p>{{ product()?.description }}</p>

        <div fxLayout="column" fxLayoutGap="12px" fxLayoutAlign="center center" class="product-buttons">
          <button mat-raised-button color="primary" (click)="addToCart()" class="small-button">
            Adicionar ao carrinho
          </button>
          <button mat-stroked-button color="accent" (click)="goBack()" class="small-button">
            Continuar comprando
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
