<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Bem-vindo</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-tab-group>
        <!-- Aba Login -->
        <mat-tab label="Login">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Usuário</mat-label>
              <mat-icon matPrefix>person</mat-icon>
              <input matInput formControlName="username">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Senha</mat-label>
              <mat-icon matPrefix>lock</mat-icon>
              <input matInput type="password" formControlName="password">
            </mat-form-field>

            <div *ngIf="errorMessage" class="error-message">
              <mat-icon>error</mat-icon> {{ errorMessage }}
            </div>

            <button mat-raised-button color="primary" class="full-width" type="submit">Entrar</button>
          </form>
        </mat-tab>

        <!-- Aba Cadastro -->
        <mat-tab label="Cadastrar">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Nome</mat-label>
              <!-- <mat-icon matPrefix>badge</mat-icon> -->
              <input matInput formControlName="name" placeholder="Digite seu nome">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Email</mat-label>
              <!-- <mat-icon matPrefix>email</mat-icon> -->
              <input matInput type="email" formControlName="email" placeholder="Digite seu email">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <!-- <mat-icon matPrefix>lock</mat-icon> -->
              <mat-label>Senha</mat-label>

              <input matInput type="password" formControlName="password" placeholder="Digite sua senha">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Papel</mat-label>
              <!-- <mat-icon matPrefix>person_outline</mat-icon> -->
              <mat-select formControlName="role">
                <mat-option value="user">Usuário</mat-option>
                <mat-option value="admin">Administrador</mat-option>
              </mat-select>
            </mat-form-field>

            <div *ngIf="registerMessage" class="success-message">
              <mat-icon>check_circle</mat-icon> {{ registerMessage }}
            </div>

            <button mat-raised-button color="accent" class="full-width" type="submit">Cadastrar</button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>